@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-md-12">
        <img src="~/main.png" class="img-fluid" />
    </div>
</div>
<div class="text-center">
    <h1 class="display-4 roboto-font">Nutrition</h1>
</div>
<h2 class="roboto-font">What is nutrition?</h2>
<p class="text-justify">Nutrition is the study of nutrients in food, how the body uses them, and the relationship between diet, health, and disease.</p>
<p class="text-justify">Nutritionists use ideas from molecular biology, biochemistry, and genetics to understand how nutrients affect the human body.</p>
<p class="text-justify">Nutrition also focuses on how people can use dietary choices to reduce the risk of disease, what happens if a person has too much or too little of a nutrient, and how allergies work.</p>
<p class="text-justify">Nutrients provide nourishment. Proteins, carbohydrates, fat, vitamins, minerals, fiber, and water are all nutrients. If people do not have the right balance of nutrients in their diet, their risk of developing certain health conditions increases.</p>
<p class="text-justify">This article will explain the different nutrients a person needs and why. It will also look at the role of the dietitian and the nutritionist.</p>
<ul>
    <li>Macronutrients
        <ul>
            <li>Carbohydrates</li>
            <li>Proteins</li>
            <li>Fats</li>
            <li>Water</li>
        </ul>
    </li>
    <li>Micronutrients
        <ul>
            <li>Minerals</li>
            <li>Vitamins</li>
        </ul>
    </li>
</ul>
